article {
  margin-top: 7em; }

#welcome {
  padding-bottom: 2em; }

._main {
  width: 100%; }
  ._main h1 {
    text-align: center;
    margin-bottom: 0.5em;
    color: palevioletred; }
  ._main #blog_titles_links li {
    margin-left: 2em;
    list-style: none;
    line-height: 1.5em;
    border-left: 8px solid #000; }
    ._main #blog_titles_links li a {
      text-decoration: none;
      cursor: pointer;
      margin-left: 0.5em;
      display: inline-block; }
      ._main #blog_titles_links li a:after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width 0.5s ease, background-color 0.5s ease; }
      ._main #blog_titles_links li a:hover::after {
        width: 100%;
        background: palevioletred; }
  ._main #blog_titles_links h2 {
    margin-left: 2em;
    color: palevioletred; }
  ._main #blog {
    float: left; }
    ._main #blog p {
      font-family: Georgia, "Times New Roman", Times, serif;
      margin: 38px 0 38px;
      word-break: break-word;
      font-weight: 400;
      font-style: normal;
      font-size: 21px;
      line-height: 1.9em;
      letter-spacing: -0.003em; }
  ._main img {
    padding-left: 8em; }

#photos input {
  width: 58%;
  height: 2em;
  margin-left: 1em;
  border: 1px solid grey;
  border-radius: 3em;
  text-align: center;
  outline: none;
  padding: 1.2em 0;
  background: #f2f2f2; }
  #photos input:focus::-webkit-input-placeholder {
    outline: none;
    color: transparent; }

.column {
  float: left;
  width: 50%;
  padding: 10px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

#connect_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  #connect_dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center; }
    #connect_dropdown_content a:hover {
      background-color: #ddd; }

#nav-connect-link {
  padding-right: 6.2em;
  position: relative;
  left: 2.5em; }
  #nav-connect-link:hover ~ #connect_dropdown_content {
    display: block; }

#connect_dropdown_content:hover {
  display: block; }

#connect_dropdown_content a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease; }

#connect_dropdown_content a:hover::after {
  width: 100%;
  background: palevioletred; }

* {
  box-sizing: border-box;
  outline: none; }
  * a {
    color: black;
    text-decoration: none; }
  * li {
    list-style: none; }

.navbar {
  font-family: fantasy;
  font-size: 16px; }
  .navbar #hanging_title {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari 3-8 */
    transform: rotate(-42deg);
    position: relative;
    left: -3.5em;
    top: -1.7rem; }
  .navbar #shades_on {
    font-size: 2.5em;
    color: palevioletred; }
  .navbar hr {
    margin-top: 0px;
    clear: both; }

.navbar-menu {
  float: right;
  margin-top: 2em; }
  .navbar-menu ul a:hover {
    text-decoration: none; }
  .navbar-menu .nav-item {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    letter-spacing: 1.5px; }
    .navbar-menu .nav-item:after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease; }
    .navbar-menu .nav-item:hover::after {
      width: 100%;
      background: palevioletred; }
