@import "home";
@import "blog";
@import "projects";
@import "connect";

$underline-clr: palevioletred;
* {
  box-sizing: border-box;
  outline: none;
  a {
    color: black;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
.navbar {
  font-family: fantasy;
  font-size: 16px;
  #hanging_title {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-42deg);
    position: relative;
    left: -3.5em;
    top: -1.7rem;
  }
  #shades_on {
    font-size: 2.5em;
    color: $underline-clr;
  }
  hr {
    margin-top: 0px;
    clear: both;
  }
}
.navbar-menu {
  float: right;
  margin-top: 2em;
  ul {
    a:hover {
      text-decoration: none;
    }
  }

  .nav-item {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    letter-spacing: 1.5px;
    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
    }
    &:hover::after {
      width: 100%;
      background: $underline-clr;
    }
  }
}
